body {
    background: linear-gradient(90deg, #000000, #3533cd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background: linear-gradient(90deg, #004add, #cb6ce6);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}

h2 {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #004add;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #3533cd;
}

a {
    color: #cb6ce6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
